<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <input type="text" id="message" name="message" placeholder="Enter your message">
        <button id="submit" type="button">Send</button>
        <div id="row">
            <div class="column">
                <h1 id="InputText"></h1>
            </div>
            <div class="column">
                <h1 id="TranslatedText"></h1>
                <audio id="myAudio_Default"></audio>
                <audio id="myAudio_Chat"></audio>
                <audio id="myAudio_Cheerful"></audio>
                <audio id="myAudio_CustomerService"></audio>
                <button id="TranslatedVoice_Default">Default</button>
                <button id="TranslatedVoice_Chat">Chat</button>
                <button id="TranslatedVoice_Cheerful">Cheerful</button>
                <button id="TranslatedVoice_CustomerService">CustomerService</button>
            </div>
        </div>
        <script src="//unpkg.com/jquery"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
    </body>
</html>